
   <div class="single-blog-details sec-spacer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="single-image">
              <%= image_tag('blogpage/1-big.jpg' , class: 'img-responsive' , alt: 'single') %>
            </div><!-- .single-image End -->
            <h2 class="top-title">Lorem Ipsum is simply <span>dummy text</span></h2>

            <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the try’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum is the simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard they dummy text ever since the 1500s, when an unknown printer took a galley of type and scram bled it to make a type specimen book.</p>
            <blockquote>
              <i class="fa fa-quote-right" aria-hidden="true"></i>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indus try’s standard.
            </blockquote>
            <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s. </p> 
            <p class="paragraph">Lorem Ipsum is simply dummy text of the and typesetting industry. Lorem Ipsum is has been the industry’s stasn ndard dummy text ever since the 1500s, when an unknown printer took a galley of it to make. Lorem Ipsum is the simply dummy text.</p>
            <div class="share-section">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 life-style">
                  
                  <span class="date">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017 
                  </span>
                  <span class="cat">
                    <a href="javascript:void(0)"><i class="fa fa-folder-o" aria-hidden="true"></i> Life Style </a>
                    <%= link_to 'Life Style' , 'javascript:void(0)'   %>
                  </span>
                </div>
                <div class="col-lg-6 col-md--12">
                  <ul class="share-link1">
                    <li><%= link_to 'Tags' , 'javascript:void(0)' %></li>
                    <li><%= link_to 'WASH AND DRY' , 'javascript:void(0)' %></li>
                    <li><%= link_to 'FREE DELIVERY' , 'javascript:void(0)' %></li>
                  </ul>
                </div>
              </div>
            </div><!-- .share-section End -->

            <div class="share-section2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <span> You Can Share It : </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <ul class="share-link">
                    <li><%= link_to 'Facebook' , 'javascript:void(0)' , class: 'fa fa-facebook' %></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-google" aria-hidden="true"></i> Google</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- .share-section2 End -->

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="next-pre-section">
                  <li class="left-arrow"><a href="javascript:void(0)"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous Post</a></li>
                  <li class="right-arrow"><a href="javascript:void(0)">Next Post <i class="fa fa-angle-right" aria-hidden="true"></i> </a></li>
                </ul><!-- .next-pre-section End -->
              </div>
            </div>    
            

            <div class="author-comment">
              <h3 class="title-bg">Recent Comments</h3>
              <ul>
                <li>
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      <div class="image-comments"><%= image_tag('blogpage/comment.png' , alt: 'Blog Details photo') %></div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                      <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                      <div class="dsc-comments">
                        <h4>Thesera Minton</h4>              
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor incidi dunt ut labore et dolore magna aliquat enim ad minim veniam ad minim veniam.</p>
                        <%= link_to 'Reply' , 'javascript:void(0)'  %>
                      </div>    
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      <div class="image-comments"><%= image_tag('blogpage/comment.png' , alt: 'Blog Details photo') %></div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                      <span class="reply"> <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                      <div class="dsc-comments">
                        <h4>Thesera Minton</h4>      
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor.</p>
                        <%= link_to 'Reply' , 'javascript:void(0)'  %>
                      </div>    
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                      <div class="image-comments"><%= image_tag('blogpage/comment.png' , alt: 'Blog sibgle photo') %></div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                      <span class="reply"><span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> Sep 13, 2017</span></span>
                      <div class="dsc-comments">
                        <h4>Thesera Minton</h4>                                            
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do they eiusmod tempor incidi dunt ut labore et dolore magna aliquat enim ad minim veniam ad minim veniam.</p>
                        <%= link_to 'Reply' , 'javascript:void(0)'  %>
                      </div>    
                    </div>
                  </div>
                </li>
              </ul>
            </div><!-- .author-comment End --> 

            <div class="leave-comments-area">
                  <form>
                    <fieldset>
                        <h4 class="title-bg">Leave Comments</h4>   
                        <div class="row">                       
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Fast Name*</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Last Name*</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-12 col-sm-12">    
                                <div class="form-group">
                                    <label>Your comment here...</label>
                                    <textarea cols="40" rows="10" class="textarea form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">         
                                <div class="form-group mb-0">
                                    <button class="more" type="submit">Post Comment</button>
                                </div>
                            </div>
                        </div>    
                    </fieldset>
                 </form>
            </div><!-- .leave-comments-area end -->     

                                         
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="sidebar-area">
                  <div class="search-box">
                      <h3 class="title">Search</h3>
                      <div class="box-search">
                          <input class="form-control" placeholder="Search Here ..." name="srch-term" id="srch-term" type="text">
                          <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </div>
                  </div><!-- .search-box end -->
                  <div class="cate-box">
                      <h3 class="title">CATEGORIES</h3>
                      <ul>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'WASH AND DRY' , 'javascript:void(0)' %>
                          
                          </li>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'STEAM IRONING' , 'javascript:void(0)' %>
                          </li>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'DRY CLEANING' , 'javascript:void(0)' %>
                        
                          </li>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'FOLDING AND STARCHING','javascript:void(0)' %>
                          </li>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'CARPETS CURTANS & SOFA' , 'javascript:void(0)' %>
                            
                          </li>
                          <li>
                              <i class="fa fa-angle-right" aria-hidden="true"></i><%= link_to 'FREE PICKUP AND DELIVERY' , 'javascript:void(0)' %>
                              
                          </li>
                      </ul>
                  </div><!-- .cate-box end -->

                  <div class="latest-post">
                      <h3 class="title">RECENT POSTS</h3>
                      <div class="post-item">
                        <div class="post-img">
                            <%= link_to image_tag('blogpage/1.jpg' , class: 'img-responsive') , blogdetails_path   %>
                        </div>
                        <div class="post-desc">
                          <h4><%= link_to 'Raken develops reporting The software' , blogdetails_path %></h4>
                        </div>
                      </div><!-- .post-item end -->
                      <div class="post-item">
                          <div class="post-img">
                              <%= link_to image_tag('blogpage/2.jpg' , class: 'img-responsive') , blogdetails_path   %>
                          </div>
                          <div class="post-desc">
                            <h4><%= link_to 'Raken develops reporting The software' , blogdetails_path %></h4>
                          </div>
                      </div><!-- .post-item end -->
                      <div class="post-item">
                          <div class="post-img">
                                <%= link_to image_tag('blogpage/3.jpg' , class: 'img-responsive') , blogdetails_path   %>
                          </div>
                          <div class="post-desc">
                            <h4><%= link_to 'Raken develops reporting The software' , blogdetails_path %></h4>
                          </div>
                      </div><!-- .post-item end --> 
                  </div>
                  <div class="latest-post">
                    <h3 class="title">Filer Date</h3>
                    <div class="treeview"></div>
                  </div>
              </div><!-- .sidebar-area end --> 
          </div>             
        </div>
      </div>
    </div>

    <div class="booknow-page-section padding-top-60 padding-bottom-100">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="box-header">Book <span>Online</span></h2>
              </div>
            </div>

            <div class="row margin-top-40">

              <div class="col-lg-12 col-md-12">
                <div class="contact-form">
                  
                  <form id="contactForm" method="POST" action="" class="contact-form">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Name" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" class="email form-control" placeholder="Email" required="">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone / Mobile *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <!-- <input type="text" class="form-control" placeholder="Area *" required=""> -->
                              <select class="form-control">
                                <option>Jumeirah Lake Towers (JLT)</option>
                                <option>Jebel Ali Village</option>
                                <option>Dubai Investment Park</option>
                                <option>Discovery Gardens</option>
                                <option>The Gardens</option>
                                <option>Jumeirah Village Circle(JVC)</option>
                                <option>Dubai Marina</option>
                                <option>Jumeirah Beach Residance,</option>
                                <option>Jumeirah Village Triangle (JVT)</option>
                                <option>Jumeirah Park</option>
                                <option>Jumeirah Island</option>
                                <option>Barsha Heights</option>
                                <option>Dubai Sport City</option>
                              </select>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Building Name *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Apartment Number *" required="">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Date *" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Pickup Time">
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" class="form-control" placeholder="Landmark">
                          </div>


                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <textarea rows="7" placeholder="Special Notice" class="form-control"></textarea>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                              <button type="submit" id="submit" class="contact-btn">Submit</button>
                              <div class="clearfix"></div>
                          </div>   
                      </form>

                      
                </div>
              </div>
            </div>

          </div>
      </div>

  <script type="text/javascript">
    $(document).ready(function(){

         setTimeout(function(){        
            $('.loading-box').fadeOut();
            $('.loading-box').delay(100).fadeOut('slow');
         }, 2000);

      });


  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.offers-btn').click(function(){
      $(this).parent().parent().toggleClass('offer-text-full');
      if ($(this).parent().parent().hasClass("offer-text-full")) {
            $('.offer-text-full .offers-btn').html("Read Less");
          } else {
            $('.offers-btn').html("Read More");
          }
      });
    });
  </script>


  <script>
    var treeView = document.getElementsByClassName("treeview"),
    tree = new VanillaTree( treeView, {
      
    });



    tree.add({
      label: '2018',
      // id: 'a',
      id: '2018',
      opened: true
    });

    tree.add({
      label: 'Jan',
      parent: '2018',
      // id: 'a.a',
      id: 'Jan',
      opened: true,
      selected: true
    });

            tree.add({
              label: '1-1-2018',
              parent: 'Jan',
              // id: 'a.a',
              id: 'Jan',
              opened: true,
              selected: false
            });
                


            tree.add({
              label: '2-1-2018',
              parent: 'Jan',
              // id: 'a.a',
              id: 'Jan',
              opened: true,
              selected: false
            });
            tree.add({
              label: '5-1-2018',
              parent: 'Jan',
              // id: 'a.a',
              id: 'Jan',
              opened: true,
              selected: false
            });
                


            tree.add({
              label: '8-1-2018',
              parent: 'Jan',
              // id: 'a.a',
              id: 'Jan',
              opened: true,
              selected: false
            });
               




      tree.add({
      label: 'Feb',
      parent: '2018',
      // id: 'a.a',
      id: 'Feb',
      opened: true,
      selected: false
    });



        tree.add({
          label: '1-2-2018',
          parent: 'Feb',
          // id: 'a.a',
          id: 'Feb',
          opened: true,
          selected: false
        });
        
        tree.add({
          label: '2-2-2018',
          parent: 'Feb'
        });
       
       tree.add({
          label: '3-2-2018',
          parent: 'Feb',
          // id: 'a.a',
          id: 'Feb',
          opened: true,
          selected: false
        });
        
        tree.add({
          label: '4-2-2018',
          parent: 'Feb'
        });

        tree.add({
          label: '8-2-2018',
          parent: 'Feb',
          // id: 'a.a',
          id: 'Feb',
          opened: true,
          selected: false
        });
        
        tree.add({
          label: '10-2-2018',
          parent: 'Feb'
        });
       
       


            


    // -----------------------------

    treeView.addEventListener('vtree-open', function(evt) {
      info.innerHTML = evt.detail.id + ' is opened';
    });

    treeView.addEventListener('vtree-close', function(evt) {
      info.innerHTML = evt.detail.id + ' is closed';
    });

    treeView.addEventListener('vtree-select', function(evt) {
      info.innerHTML = evt.detail.id + ' is selected';
    });
</script>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

