
   <div class="blog-page-area sec-spacer">
        <div class="container">

            <div class="row">
              <div class="col-sm-12 margin-bottom-30">
                <h2 class="box-header">Our <span>Blog</span></h2>
              </div>
            </div>
           
            
            <div class="blog-box">
              <div class="blog-inner no-margin">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-images">
                          <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <img src="assets/images/blogpage/1.jpg" alt=""></a>
                          <%= link_to image_tag('blogpage/1.jpg') , blogdetails_path  %>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-content">
                        <h4><%= link_to 'Dry Cleaning at Dubai' , blogdetails_path %></h4>
                          <div class="date">
                              <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                          </div>
                          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                          <%= link_to 'Read More' , blogdetails_path , class: 'more' %>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- .blog-inner end -->
            <div class="blog-box">
              <div class="blog-inner no-margin">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-images">
                          <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <img src="assets/images/blogpage/2.jpg" alt=""></a>

                          <%= link_to image_tag('blogpage/2.jpg') , blogdetails_path  %>

                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-content">
                        <h4><%= link_to 'Curtains, Carpets, Bed sheets & Blankets' , blogdetails_path %></h4>
                          <div class="date">
                              <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                          </div>
                          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                          <%= link_to 'Read More' , blogdetails_path , class: 'more' %>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- .blog-inner end -->
            <div class="blog-box">
              <div class="blog-inner no-margin">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-images">
                          <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <img src="assets/images/blogpage/3.jpg" alt=""></a>

                          <%= link_to image_tag('blogpage/3.jpg') , blogdetails_path  %>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-content">
                        <h4><%= link_to 'Starching & Folding' , blogdetails_path %></h4>
                          <div class="date">
                              <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                          </div>
                          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                          <%= link_to 'Read More' , blogdetails_path , class: 'more' %>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- .blog-inner end -->
            <div class="blog-box">
              <div class="blog-inner no-margin">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-images">
                          <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <img src="assets/images/blogpage/4.jpg" alt=""></a>

                          <%= link_to image_tag('blogpage/4.jpg') , blogdetails_path  %>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-content">
                        <h4><%= link_to 'More than just a Laundry' , blogdetails_path %></h4>
                          <div class="date">
                              <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                          </div>
                          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                          <%= link_to 'Read More' , blogdetails_path , class: 'more' %>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- .blog-inner end -->
            <div class="blog-box">
              <div class="blog-inner no-margin">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-images">
                          <a href="blog-details.html"><i class="fa fa-link" aria-hidden="true"></i> <img src="assets/images/blogpage/5.jpg" alt=""></a>

                          <%= link_to image_tag('blogpage/5.jpg') , blogdetails_path  %>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                      <div class="blog-content">
                        <h4><%= link_to 'Commitment to Quality' , blogdetails_path %></h4>
                          <div class="date">
                              <i class="fa fa-calendar-check-o"></i> 13 Sep 2017
                          </div>
                          <p class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
                          <%= link_to 'Read More' , blogdetails_path , class: 'more' %>
                      </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- .blog-inner end -->



            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                         
                            <li class='page-item disabled'> <%= link_to '' , 'javascript:void(0)' , class: 'page-link fa fa-angle-left' , tabindex: '-1' %></li>
                            <li class="page-item"><%= link_to '1' , 'javascript:void(0)' , class: 'page-link active' %></li>
                            <li class="page-item"><%= link_to '2' , 'javascript:void(0)' , class: 'page-link active' %></li>
                            <li class='page-item'> <%= link_to '...' , 'javascript:void(0)' , class: 'page-link dotted' %></li>
                            <li class="page-item"><%= link_to '5' , 'javascript:void(0)' , class: 'page-link active' %></li>
                            <li class="page-item"><%= link_to '6' , 'javascript:void(0)' , class: 'page-link active' %></li>
                            <li class="page-item"><%= link_to '' , 'javascript:void(0)' , class: 'page-link fa fa-angle-right' %></li>
                        </ul>
                    </nav><!-- .navigation end -->
                </div>
            </div>

        </div>
    </div>


    <%= render 'home/index/form' %>


  <script type="text/javascript">
    $(document).ready(function(){

         setTimeout(function(){        
            $('.loading-box').fadeOut();
            $('.loading-box').delay(100).fadeOut('slow');
         }, 2000);

      });


  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.offers-btn').click(function(){
      $(this).parent().parent().toggleClass('offer-text-full');
      if ($(this).parent().parent().hasClass("offer-text-full")) {
            $('.offer-text-full .offers-btn').html("Read Less");
          } else {
            $('.offers-btn').html("Read More");
          }
      });
    });
  </script>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

